.ongoings {
  padding: 0px 80px 0px;
  background-color: rgb(233,235,238);
  border-bottom: 1px solid rgba(119, 117, 117, 0.195);
  overflow: hidden;
}

.ongoings-header {
  display: block;
  font-size: 32px;
  font-weight: bold;
  color: rgb(52, 58, 64);
  padding: 20px 0px 10px 0px;
  text-decoration: none;
  margin-bottom: 5px;
}
.ongoings-header:hover{
  text-decoration: underline;
}


.ongoings .anime-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.ongoing-object {
  display: grid;
  align-items: center;
  justify-content: left;
  margin-right: 30px;
}

.anime-flex img {
  object-fit: cover; 
  
}
.anime-flex a {
  display: block;
  text-decoration: none;
  color:rgb(255, 92, 87);
  font-size: 19px;
  padding: 15px 0px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.anime-flex a:hover {
  text-decoration: underline;
}

.anime-flex img {
  width: 200px;
  height: 300px;
}

.anime-flex a {
  max-width: 200px;
  font-size: 26px;
}
  

.ongoing-object {
  position: relative;
}

.ongoings .rate {
  background-color: rgb(255, 212, 0);
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  font-size: 17px;
  padding: 2px 4px 2px 10px;
  left: -5px;
  top: 2%;
}
.ongoings .rate:after {
  content: "";
  border: 0.82em solid rgb(255, 212, 0);
  border-right-color: transparent;
  position: absolute;
  top: 1%;
}
.ongoings .rate:before {
  content: "";
  border: 0.35em solid transparent;
  border-right-color:rgb(255, 212, 0);
  position: absolute;
  bottom: -5px;
  left: -5px;
}